{
    "env": {
      "browser": true,
      "jest": true,
      "node": true
    },
   
    "extends": [
      "airbnb",
      "prettier",
      "prettier/flowtype",
      "prettier/react",
      "prettier/standard"
    ],
    "plugins": [
      "prettier"
    ],
    "rules": {
      "prettier/prettier": "error",
      "arrow-parens": 0,
      "function-paren-newline": 0
    },
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": "webpack.config.js"
        }
      }
    }
  }